@keyframes skew {
  0% {
    transform: rotateX(100deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.bmi-group {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  &_underweight {
    color: #db7c00;
  }
  &_normal {
    color: #00be75;
  }
  &_overweight {
    color: #df7700;
  }
  &_obese {
    color: #d10000;
  }
}
.bmi-value-text {
  font-size: 14pt;
  color: #ddd;
  text-align: center;
  margin: 0;
}
.description-text {
  color: #999;
  text-align: center;
  margin: 0;
  @media (max-width: 500px) {
    margin: 0 5px;
    font-size: 11pt;
  }
}
