body {
  margin: 0;
  // background: linear-gradient(120deg, #009fd9, #00d99c);
  background: #333;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  input:focus,
  button:focus {
    outline: none;
  }
}
// * {
//   outline: solid blue 1px;
// }
