.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: 1px solid #444;
  border-radius: 50%;
  color: #eee;
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  padding: 0px;
  transition: 0.2s all;
  &:hover {
    background: #444;
  }
  &:focus {
    box-shadow: inset 0px 0px 0px 2px aqua;
  }
  @media (max-width: 500px) {
    &:active,
    &:focus,
    &:hover {
      outline: none;
    }
  }
  @media (hover: none) {
    &:focus,
    &:active,
    &:hover {
      background: none;
    }
  }
}
.plain {
  border: none;
}
.active {
  background: #ffffff22 !important;
}
.textButton {
  text-align: center;
  background: linear-gradient(120deg, #009fd9, #00d99c);
  align-items: center;
  vertical-align: middle;
  box-shadow: 6px 6px 8px #00000040;
  border: none;
  border-radius: 15px;
  color: #eee;
  box-sizing: border-box;
  padding: 15px;
  transition: 0.2s all;
  text-transform: uppercase;
  font-size: 14pt;
  margin: 0 35%;
  &:focus {
    box-shadow: inset 0px 0px 0px 2px aqua;
  }
  &:hover {
    box-shadow: 7px 8px 8px #00000050;
  }
  &:active {
    background: #666;
  }
  @media (max-width: 500px) {
    margin: unset;
    &:active,
    &:focus,
    &:hover {
      outline: none;
    }
  }
}

.plainButton {
  text-align: center;
  background: #333;
  align-items: center;
  vertical-align: middle;
  border: 1px solid #444;
  border-radius: 10px;
  color: #eee;
  box-sizing: border-box;
  padding: 15px;
  transition: 0.2s all;
  text-transform: uppercase;
  font-size: 12pt;
  &:focus {
    box-shadow: inset 0px 0px 0px 2px aqua;
  }
  &:hover {
    background-color: #444;
  }
}
