@use "../../variables.scss" as v;

$shadow-normal: -1px -1px 6px #ffffff33, 1px 1px 6px #000000aa;
$shadow-active: inset -1px -1px 6px #ffffff33, inset 1px 1px 6px #000000aa;
$border-color: rgba(200, 200, 200, 0.19);

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: 2px solid transparent;
  border-radius: 50%;
  color: #ddd;
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  padding: 0px;
  transition: 0.2s all;
  font-size: 0.95rem;
  line-height: 0.95;
  word-wrap: normal;
  white-space: pre-wrap;
  box-shadow: $shadow-normal;
  &:hover {
    color: #efefef;
  }
  &:focus {
    color: #efefef;
    border: 2px solid $border-color;
  }
  &:active {
    border: 2px solid transparent;
    box-shadow: $shadow-active;
  }
}
.plain {
  border: none;
}
.active {
  box-shadow: $shadow-active;
}
.text-button {
  text-align: center;
  background: linear-gradient(120deg, #009fd9, #00d99c);
  align-items: center;
  vertical-align: middle;
  border: none;
  border-radius: 15px;
  color: #eee;
  box-sizing: border-box;
  padding: 17px 15px 15px 15px;
  text-transform: uppercase;
  font-size: 14pt;
  transition: 0.2s color;
  box-shadow: map-get($map: v.$gradient-button-shadow, $key: "normal");
  &:hover {
    color: #fff;
  }
  &:active {
    outline: none;
    box-shadow: map-get($map: v.$gradient-button-shadow, $key: "active");
  }
  &:focus {
    outline: 2px solid rgba(200, 200, 200, 1.0);
  }
}

.plain-button {
  text-align: center;
  background: #333;
  align-items: center;
  vertical-align: middle;
  border: 2px solid transparent;
  border-radius: 8px;
  color: #bbb;
  box-sizing: border-box;
  padding: 7px 10px;
  transition: 0.2s all;
  text-transform: uppercase;
  font-size: 0.9rem;
  box-shadow: $shadow-normal;
  &:hover {
    color: #eee;
  }
  &:focus {
    border: 2px solid $border-color;
    color: #eee;
  }
  &:active {
    border: 2px solid transparent;
    box-shadow: $shadow-active;
  }
}
