@use "../../variables.scss" as v;

.counter-card {
  background-color: #eee;
  border-radius: 15px;
  padding: 30px;
  flex-direction: column;
  box-shadow: v.$card-shadow;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  flex-grow: 1;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 30px;
  font-weight: 600;
  color: #333;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
}

.hint-text {
  color: #444;
  font-weight: 500;
}

@mixin track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: linear-gradient(120deg, #009fd9, #00d99c);
  box-shadow: inset 2px 2px 6px #00000066, inset -2px -2px 6px #ffffffaa;
  border-radius: 15px;
}
@mixin thumb {
  box-shadow: inset 4px 4px 2px #ffffffff, inset -4px -4px 5px #00000017,
    5px 5px 10px #00000035;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 60px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  transition: 0.2s all;
}
@mixin thumb-hocus {
  box-shadow: inset 4px 4px 4px #ffffffff, inset -4px -4px 4px #00000011,
    5px 5px 10px #00000045;
}
@mixin thumb-active {
  box-shadow: inset 4px 4px 4px #ffffffff, inset -0.3px -0.3px 4px #00000055,
    3px 3px 4px #00000045;
  transform: scale(0.95);
}
@mixin track-hocus {
  box-shadow: inset 2px 2px 6px #00000088, inset -2px -2px 6px #ffffffaa;
  background: grey;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-top: 15px;
  width: 100%;
  background: transparent;

  &::-webkit-slider-runnable-track {
    @include track;
  }
  &:focus::-webkit-slider-runnable-track {
    @include track-hocus;
  }
  &::-moz-range-track {
    @include track;
  }
  &:focus::-moz-range-track {
    @include track-hocus;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }
  &:hover::-webkit-slider-thumb {
    @include thumb-hocus;
  }
  &:focus::-webkit-slider-thumb {
    @include thumb-hocus;
  }
  &:active::-webkit-slider-thumb {
    @include thumb-active;
  }
  &::-moz-range-thumb {
    @include thumb;
  }
  &:hover::-moz-range-thumb {
    @include thumb-hocus;
  }
  &:focus::-moz-range-thumb {
    @include thumb-hocus;
  }
  &:active::-moz-range-thumb {
    @include thumb-active;
  }

  &::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    -webkit-animate: 0.2s;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 25px 0;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  &::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  &::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  &:focus::-ms-fill-lower {
    background: #3071a9;
  }
  &:focus::-ms-fill-upper {
    background: #367ebd;
  }
}
