.table {
  --shadow-color: 0deg 0% 0%;
  display: inline-block;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: inset 10px 12px 8px #ffffffdd, inset -6px -8px 8px #00000033,
    -6px -6px 8px #ffffff55, 0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.23),
    0.9px 1.2px 1.6px -0.9px hsl(var(--shadow-color) / 0.22),
    2.8px 3.6px 5px -1.8px hsl(var(--shadow-color) / 0.21),
    7.4px 9.7px 13.3px -2.7px hsl(var(--shadow-color) / 0.2);
  line-height: 1.5;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;

  @media (max-width: 500px) {
    width: auto;
    display: block;
    margin-right: unset;
    padding: 20px;
    font-size: 12pt;
    margin-bottom: 15px;
  }
}

.height-weight {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.numbers {
  font-size: 24pt;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side {
  color: #444;
}
.item-name {
  color: #555;
}

.unit {
  font-size: 1.5rem;
  font-weight: normal;
}

.bmi-group {
  text-transform: uppercase;
  font-size: 12pt;
}

.obese {
  color: rgb(209, 0, 0);
}
.normal {
  color: #555;
}
.underweight {
  color: rgb(219, 124, 0);
}
.overweight {
  color: rgb(223, 119, 0);
}
