.table {
  display: inline-block;
  padding: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: 6px 6px 8px #00000040;
  line-height: 1.5;
  @media (max-width: 500px) {
    display: block;
    margin-right: unset;
    padding: 10px;
    font-size: 12pt;
    margin-bottom: 15px;
  }
}

.itemName {
  text-transform: uppercase;
  color: #666;
}
.itemDetail {
  color: #222;
}
